@import "bootstrap.less";
@import "variables.less";

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/fTLR1wW5qq9Ui3F-pB4hXQ.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPvk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v8/7dSh6BcuqDLzS2qAASIeultXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkOXREeHhJi4GEUJI9ob_ak4.woff2) format('woff2');
}

@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher'), url(https://fonts.gstatic.com/s/philosopher/v7/OttjxgcoEsufOGSINYBGLRLwxQbNcFnuWuPk3YnjToI.woff2) format('woff2');
}
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: local('Philosopher Bold'), local('Philosopher-Bold'), url(https://fonts.gstatic.com/s/philosopher/v7/napvkewXG9Gqby5vwGHICKs1twL42OQU-XDphSlMXYM.woff2) format('woff2');
}

h1 {
  font-family: @font-family-philosolher;
  font-weight: 400;
}
h1, .h1 {
  margin-top: 0;
}
@media (min-width: @screen-md-min) {
  h1, .h1 {
    font-size: @font-size-h1 *  1.6; //~48px
  }
  h2, .h3 {
    font-size: @font-size-h2 *  1.167; //~28px
  }
}
.border-link {
  border-bottom: 1px solid @link-border-color;
  &:hover,
  &:focus {
    border-bottom: 1px solid @link-border-hover-color;
  }
}
.no-border-link {
  border-bottom: none;
  &:hover,
  &:focus {
    border-bottom: none;
  }
}
.a-transition {
  -webkit-transition: color 0.3s 0s linear,
  border-bottom-color 0.3s 0s linear;
  -moz-transition: color 0.3s 0s linear,
  border-bottom-color 0.3s 0s linear;
  -o-transition: color 0.3s 0s linear,
  border-bottom-color 0.3s 0s linear;
  transition: color 0.3s 0s linear,
  border-bottom-color 0.3s 0s linear;
}
a {
  .border-link;
  .a-transition;
}
.btn-transition {
  -webkit-transition: background 0.5s 0s linear,
  border 0.5s 0s linear,
  color 0.5s 0s linear;
  -moz-transition: background 0.5s 0s linear,
  border 0.5s 0s linear,
  color 0.5s 0s linear;
  -o-transition: background 0.5s 0s linear,
  border 0.5s 0s linear,
  color 0.5s 0s linear;
  transition: background 0.5s 0s linear,
  border 0.5s 0s linear,
  color 0.5s 0s linear;
}
.btn {
  .btn-transition;
}
.btn-primary {
  border: none;
  background: linear-gradient(to bottom,rgba(244,114,90,1),rgba(238,82,69,1));
  position:relative;
  z-index:0;
  &:before, &:after {
    content: "";
    height:100%;
    left:0;
    opacity:0;
    position:absolute;
    top:0;
    transition: opacity 0.5s linear;
    width:100%;
    z-index:-1;
  }
  &:before {
    background: linear-gradient(to bottom, rgba(247,141,53,1), rgba(241,42,37,1));
  }
  &:after {
    background: linear-gradient(to bottom, rgba(196,43,38,1), rgba(223,64,34,1), rgba(233,64,24,1));
  }
  &:hover, &:focus {
    border: none;
    &:before {
      opacity:1;
    }
  }
  &:active {
    border: none;
    &:after {
      opacity:1;
    }
  }
}

.content-ul {
  padding-left: 0;
  li {
    padding-left: 10px;
    margin-bottom: (@line-height-computed / 2);
    list-style-type: none;
    text-indent: -25px;
    padding-left: 25px;
    &:before {
      color: @brand-primary;
      content: "•";
      padding-right: 15px;
    }
  }
}
.content-ol {
  padding-left: 15px;
  li {
    padding-left: 10px;
    margin-bottom: (@line-height-computed / 2);
  }
}
.text-page {
  ul {
    .content-ul;
  }
 ol {
   .content-ol;
 }
}
label {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.help-block {
  color: #b2b2b2;
  font-size: 14px;
}
table {
  .table-bordered;
  tr:hover {
    td {
      background: #faf4e4;
    }
  }
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.section-title {
  font-family: @font-family-philosolher;
  font-size: 30px;
  line-height: 1;
  @media (min-width: @screen-md-min) {
    font-size: 48px;
  }
}
.section-padding {
  padding: 40px 0;
  @media (min-width: @screen-md-min) {
    padding: 60px 0;
  }
}
html, body, .layout {
  height: 100%;
}
.content {
  @media (min-width: @screen-sm-min) {
    min-height: 100%;
    padding-bottom: 251px;
  }
  @media (min-width: @screen-md-min) {
    padding-bottom: 267px;
  }
}
/*animation*/
@keyframes circle {
  from {background: transparent;}
  to {background: @brand-primary;}
}
/*animation end*/
                                                      /*Main page*/
                                          /*Header*/
header {
  color: #fff;
  position: relative;
  z-index: 1000;
  border-bottom: 6px solid @brand-primary;
  //padding-bottom: 90px;
  &.main-header {
    background: url(../images/bg-1-1.jpg) no-repeat center bottom;
    background-size: 150% auto;
    @media (min-width: @screen-sm-min) {
      background-size: cover;
    }
  }
  &.delivery-header {
    background: #281906 url(../images/bg-1.jpg) no-repeat center bottom;
    padding-bottom: 90px;
    @media (min-width: @screen-md-min) {
      padding-bottom: 140px;
    }
  }
  &.dinners-header {
    background: #281906 url(../images/bg-4.jpg) no-repeat center bottom;
    background-size: 150% auto;
    padding-bottom: 90px;
    @media (min-width: @screen-sm-min) {
      background-size: cover;
    }
  }
  &.catering-header {
    background: #281906 url(../images/cat-bg.jpg) no-repeat center bottom;
    background-size: 100% auto;
    padding-bottom: 10px;
    @media (min-width: @screen-sm-min) {
      background-size: 170% auto;
      padding-bottom: 90px;
    }
    @media (min-width: @screen-md-min) {
      background-size: 120% auto;
    }
    @media (min-width: @screen-lg-min) {
      padding-bottom: 120px;
    }
    @media (min-width: 1920px) {
      background-size: 100% auto;
    }
  }
  &.cafe-header {
    background: #281906 url(../images/cafe-bg.jpg) no-repeat center bottom;
    background-size: 150% auto;
    padding-bottom: 90px;
    @media (min-width: @screen-lg-min) {
      background-size: cover;
      padding-bottom: 140px;
    }
    @media (min-width: 1440px) {
      padding-bottom: 290px;
    }
  }
  &.cake-header {
    background: #281906 url(../images/cake-bg.jpg) no-repeat center bottom;
    background-size: 100% auto;
    padding-bottom: 10px;
    @media (min-width: @screen-sm-min) {
      background-size: 170% auto;
      padding-bottom: 50px;
    }
    @media (min-width: @screen-md-min) {
      background-size: 120% auto;
    }
    @media (min-width: @screen-lg-min) {
      padding-bottom: 70px;
    }
    @media (min-width: 1920px) {
      background-size: 100% auto;
    }
  }
}
header.main-header, header.dinners-header, header.delivery-header, header.cafe-header {
  @media (max-width: @screen-xs-max) {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //background: linear-gradient(to bottom, rgba(40,25,6,1) 78%,  rgba(255,255,0,0) 100%);
      z-index: 2000;
    }
  }
}
header.main-header {
  @media (max-width: @screen-xs-max) {
    &:after {
      background: linear-gradient(to bottom, rgba(40,25,6,1) 80%,  rgba(255,255,0,0) 100%);
    }
  }
}
header.delivery-header {
  @media (max-width: @screen-xs-max) {
    &:after {
      background: linear-gradient(to bottom, rgba(40,25,6,1) 78%,  rgba(255,255,0,0) 100%);
    }
  }
}
header.dinners-header {
  @media (max-width: @screen-xs-max) {
    &:after {
      background: linear-gradient(to bottom, rgba(40,25,6,1) 73%,  rgba(255,255,0,0) 100%);
    }
  }
}
header.cafe-header {
  @media (max-width: @screen-xs-max) {
    &:after {
      background: linear-gradient(to bottom, rgba(40,25,6,1) 80%,  rgba(255,255,0,0) 100%);
    }
  }
}
.header-top {
  padding: 25px 0 5px;
  position: relative;
  z-index: 3000;
  @media (min-width: @screen-sm-min) {
    padding: 25px 0 10px;
  }
  @media (min-width: @screen-md-min) {
    padding: 25px 0 35px;
  }
}
.logo {
  a {
    display: block;
    .no-border-link;
    @media (max-width: @screen-xs-max) {
      max-width: 140px;
    }
    img {
      .img-responsive;
    }
  }
}
.user-panel {
  text-align: right;
  padding-left: 0;
  @media (min-width: @screen-sm-min) {
    float: right;
    width: 19%;
    padding-right: 0;
  }
}
.user-panel-sum {
  padding: 3px 7px 5px;
  @media (min-width: @screen-md-min) {
    padding: 8px 15px 12px;
  }
  background: @brand-primary;
  border-radius: 10px;
  cursor: pointer;
  .no-border-link;
  .btn-transition;
  &:hover, &:focus {
    background: darken(@brand-primary, 15%);
  }
  span {
    color: #fff;
    font-size: 12px;
    background: url(../images/cart.png) no-repeat left center;
    padding-left: 25px;
    @media (min-width: @screen-md-min) {
      font-size: 14px;
    }
  }
}
.user-panel-link {
  color: @brand-primary;
  margin-top: 4px;
  @media (min-width: @screen-sm-min) {
    margin-top: 10px;
  }
  @media (min-width: @screen-md-min) {
    margin-top: 20px;
  }
  a {
    font-size: 12px;
    border-color: @brand-primary;
    &:hover, &:focus {
      border-color: darken(@brand-primary, 15%);
    }
    @media (min-width: @screen-md-min) {
      font-size: 14px;
    }
  }
}
.header-info {
  margin: 20px 0 0;
  @media (min-width: @screen-sm-min) {
    margin-top: 0;
    width: 60.16667%;
    > div {
      max-width: 520px;
      margin: 0 auto;
    }
  }
}
.header-contacts {
  font-size: 14px;
  margin-bottom: 12px;
  @media (min-width: @screen-sm-min) {
    font-size: 13px;
    margin-bottom:4px;
  }
  @media (min-width: @screen-md-min) {
    font-size: 14px;
    margin-bottom: 15px;
  }
  > div {
    margin-bottom: 3px;
    &:nth-of-type(1) {
      padding-right: 0;
    }
    &:nth-of-type(2) {
      padding: 0 5px;
    }
    &:nth-of-type(3) {
      padding-left: 5px;
      text-align: right;
    }
  }
}
.tel {
  a {
    color: #fff;
    .no-border-link;
  }
}
.call-link {
  a {
    border-bottom: 1px dashed @brand-primary;
    &:hover, &:focus {
      border-color: darken(@brand-primary, 15%);
    }
  }
}
.navbar-nav {
  width: 100%;
  margin: 0;
  cursor: default;
  overflow: hidden;
  text-align: justify;
  > li {
    float: none;
    display: inline;
    > a {
      font-size: 14px;
      @media (min-width: @screen-sm-min) {
        font-size: 16px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 18px;
      }
      font-weight: 700;
      display: inline-block;
      padding: 0;
    }
    &.active {
      a {
        border-bottom: none;
      }
    }
  }
  &:after {
    content: "1";
    display: inline-block;
    height: 1px;
    margin-left: 100%;
    overflow: hidden;
  }
}
.header-promo {
  position: relative;
  z-index: 3000;
}
.header-promo-title {
  color: #fff;
  font-family: @font-family-philosolher;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 15px;
  @media (min-width: @screen-md-min) {
    font-size: 60px;
    margin-bottom: 25px;
  }
}
.header-promo-descr {
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    width: 340px;
  }
  @media (min-width: @screen-md-min) {
    width: 480px;
    margin-bottom: 40px;
    margin-top: -15px;
  }
}
.main-header {
  .header-promo-title {
    max-width: 300px;
    @media (min-width: @screen-md-min) {
      max-width: 460px;
    }
  }
  .header-promo-list {
    @media (min-width: @screen-md-min) {
      max-width: 550px;
    }
  }
}
.header-promo-item {
  margin-bottom: 10px;
  text-indent: -30px;
  padding-left: 40px;
  @media (min-width: @screen-md-min) {
    margin-bottom: 20px;
  }
  > span {
    line-height: 1.2;
    background: url(../images/star.png) no-repeat left center;
    padding-left: 30px;
    a {
      color: #fff;
      border-bottom: none;
    }
    @media (min-width: @screen-md-min) {
      font-size: 20px;
    }
  }
  .promo-bold {
    font-weight: 700;
  }
}/*Header end*/
                                                /*Footer*/
footer {
  background: #f9ede1 url(../images/bg-3.jpg) no-repeat center top;
  background-size: cover;
  padding: 50px 0 25px;
  @media (min-width: @screen-sm-min) {
    height: 251px;
    margin-top: -251px;
  }
  @media (min-width: @screen-md-min) {
    height: 267px;
    margin-top: -267px;
  }
}
.footer-logo {
  margin-bottom: 30px;
  a {
    .no-border-link;
    display: block;
    max-width: 122px;
    @media (min-width: @screen-sm-min) {
      max-width: 136px;
    }
    @media (min-width: @screen-lg-min) {
      max-width: 160px;
    }
    img {
      .img-responsive;
    }
  }
}
.footer-nav-container {
  margin-bottom: 10px;
}
.footer-nav-title {
  color: #542b00;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media (min-width: @screen-md-min) {
    font-size: 14px;
  }
}
.footer-nav {
  ul {
    .list-unstyled;
    font-size: 12px;
    @media (min-width: @screen-md-min) {
      font-size: 14px;
    }
    li {
      line-height: 1.3;
      margin-bottom: 10px;
      a {
        color: #542b00;
        .border-link;
        border-bottom-color: #cabcaf;

      }
    }
  }
}
.footer-contact {
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    text-align: right;
    margin-bottom: 80px;
  }
}
.footer-tel {
  font-size: 24px;
  @media (min-width: @screen-md-min) {
    font-size: 28px;
  }
  a {
    .no-border-link;
  }
}
.footer-address {
  color: #542b00;
  font-size: 12px;
  @media (min-width: @screen-md-min) {
    font-size: 14px;
  }
}
.footer-create {
  font-size: 12px;
  @media (min-width: @screen-sm-min) {
    text-align: right;
  }
  @media (min-width: @screen-md-min) {
    font-size: 14px;
  }
  a {
    color: @text-color;
    border-bottom-color: lighten(@text-color, 55%);
  }
}/*Footer end*/
                                                    /*Main page content*/
.menu {
  padding: 40px 0;
  position: relative;
  z-index: 3000;
  @media (min-width: @screen-md-min) {
    padding: 60px 0;
  }
}
.menu-list {
  .list-unstyled;
}
.menu.main-menu {
  max-width: 480px;
  @media (min-width: @screen-md-min) {
    max-width: 660px;
  }
  .menu-list {
    @media (min-width: @screen-sm-min) {
      max-width: 560px;
    }
    @media (min-width: @screen-md-min) {
      max-width: 740px;
    }
    @media (min-width: @screen-lg-min) {
      max-width: 800px;
    }
  }
}
.menu.delivery-menu {
  .menu-list {
    @media (min-width: @screen-sm-min) {
      max-width: none;
    }
  }
}
.menu-item {
  a {
    font-family: @font-family-philosolher;
    font-size: 18px;
    line-height: 1.2;
    .no-border-link;
    @media (min-width: @screen-md-min) {
      font-size: 24px;
    }
  }
}
.menu.delivery-menu {
  .menu-item {
    @media (min-width: @screen-sm-min) {
      width: 20%;
    }
  }
}
.menu-item-grey {
  height: 112px;
  margin-bottom: 30px;
  @media (min-width: @screen-md-min) {
    height: 179px;
  }
  a {
    display: block;
    text-align: center;
    .menu-icon-bg {
      display: block;
      margin: 0 auto 10px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      position: relative;
      transition: all 0.4s 0s ease;
      &:after {
        border-radius: 50%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: all 0.4s ease 0s;
        width: 100%;
      }
      @media (min-width: @screen-md-min) {
        width: 122px;
        height: 122px;
      }
      i {
        font-size: 40px;
        position: absolute;
        top: 50%;
        margin-top: -22px;
        left: 50%;
        margin-left: -20px;
        transition: all 0.5s 0s ease;
        z-index: 2;
        @media (min-width: @screen-md-min) {
          font-size: 72px;
          margin-top: -40px;
          margin-left: -36px;
        }
      }
    }
    &:hover, &:focus {
      .menu-icon-bg {
        i {
          color: @brand-primary;
        }
      }
    }
  }
}
.scale {
  .menu-icon-bg {
    &:after {
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      -moz-transform: scale(0);
      transform: scale(0);
    }
  }
  &:hover, &:focus {
    .menu-icon-bg {
      &:after {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}
.menu.main-menu {
  .menu-item-grey {
    a {
      color: #fff;
      .menu-icon-bg {
        border: 1px solid #fff;
        i {
          color: #fff;
        }
      }
      &:hover, &:focus {
        .menu-icon-bg {
          i {
            color: @brand-primary;
          }
        }
      }
      &.scale {
        .menu-icon-bg {
          &:after {
            background: #fff none repeat scroll 0 0;
          }
        }
      }
    }
  }
  .business-lunch {
    a {
      .menu-icon-bg {
        i {
          color: @brand-primary;
          @media (min-width: @screen-sm-min) {
            color: #fff;
          }
        }
      }
      .menu-name {
        color: @brand-primary;
        @media (min-width: @screen-sm-min) {
          color: #fff;
        }
      }
    }
  }
  .menu-item-sale {
    a {
      .menu-icon-bg {
        background: #fff none repeat scroll 0 0;
        i {
          color: @brand-primary;
        }
      }
    }
  }
}
.menu-item-grey:nth-of-type(3) a .menu-icon-bg i {
  margin-top: -18px;
  @media (min-width: @screen-md-min) {
    margin-top: -30px;
  }
}
.menu-item-grey:nth-of-type(4) a .menu-icon-bg i,
.menu-item-grey:nth-of-type(5) a .menu-icon-bg i {
  margin-top: -20px;
  @media (min-width: @screen-md-min) {
    margin-top: -35px;
  }
}
.menu-item-grey:nth-of-type(7) a .menu-icon-bg i,
.menu-item-grey:nth-of-type(8) a .menu-icon-bg i {
  margin-top: -19px;
  @media (min-width: @screen-md-min) {
    margin-top: -38px;
  }
}
.business-lunch {
  padding-left: 10%;
  margin-bottom: 25px;
  @media (min-width: @screen-sm-min) {
    padding-left: 15px;
    height: 112px;
  }
  @media (min-width: @screen-md-min) {
    height: 179px;
  }
  a {
    display: block;
    @media (min-width: @screen-sm-min) {
      text-align: center;
    }
    .menu-icon-bg {
      display: block;
      float: left;
      @media (min-width: @screen-sm-min) {
        float: none;
        width: 70px;
        height: 50px;
        margin: 10px auto 0;
        position: relative;
      }
      @media (min-width: @screen-md-min) {
        width: 122px;
        height: 102px;
        margin-top: 20px;
      }
      i {
        //color: #fff;
        font-size: 30px;
        @media (min-width: @screen-sm-min) {
          font-size: 40px;
          position: absolute;
          top: 50%;
          margin-top: -22px;
          left: 50%;
          margin-left: -20px;
        }
        @media (min-width: @screen-md-min) {
          font-size: 72px;
          margin-top: -45px;
          margin-left: -36px;
        }
      }
    }
    .menu-name {
      //color: #fff;
      margin-left: 15px;
      vertical-align: -5px;
      @media (min-width: @screen-sm-min) {
        margin-left: 0;
        vertical-align: 0;
      }
    }
  }
}
.carousel-control {
  .no-border-link;
}
.carousel-control.left {
  background: url(../images/prev.png) no-repeat left center;
  @media (min-width: @screen-md-min) {
    background: url(../images/prev-md.png) no-repeat left center;
  }
}
.carousel-control.right {
  background: url(../images/next.png) no-repeat right center;
  @media (min-width: @screen-md-min) {
    background: url(../images/next-md.png) no-repeat left center;
  }
}
.main-slider {
  .carousel {
    overflow: hidden;
    //box-shadow: 0 -2px 5px 2px rgba(0,0,0,.1);
    padding: 40px 0;
    margin-left: -15px;
    margin-right: -15px;
    @media (min-width: @screen-sm-min) {
      margin-left: -25px;
      margin-right: -25px;
      padding: 60px 0;
    }
    @media (min-width: @screen-md-min) {
      padding: 90px 0;
    }
  }
  .carousel-inner {
    width: 75%;
    @media (min-width: @screen-sm-min) {
      width: 85%;
    }
    margin: 0 auto;
    .item {
      img {
        .img-responsive;
        margin-bottom: 20px;
      }
    }
  }
  .carousel-caption {
    font-family: @font-family-philosolher;
    height: 167px;
    @media (min-width: @screen-sm-min) {
      height: auto;
    }
    .btn {
      font-family: @font-family-sans-serif;
      padding: @padding-base-vertical*1.2 @padding-base-horizontal*2;
      margin-top: 15px;
      @media (min-width: @screen-sm-min) {
        margin-top: 5px;
      }
    }
  }
  .carousel-title {
    font-size: 30px;
    line-height: 0.9;
    margin-bottom: 15px;
    @media (min-width: @screen-lg-min) {
      font-size: 48px;
    }
  }
  .carousel-text {
    color: #706f6f;
    p {
      margin-bottom: 0;
      @media (min-width: @screen-lg-min) {
        font-size: 16px;
      }
    }
  }
}
.btn-grad {
  background: linear-gradient(to bottom,rgba(255,255,255,1),rgba(0,0,0,1));
  display:inline-block;
  padding:5px 10px;
  position:relative;
  z-index:0;
  &:after {
    content: "";
    background: linear-gradient(to bottom,rgba(0,0,0,1),rgba(255,255,255,1));
    height:100%;
    left:0;
    opacity:0;
    position:absolute;
    top:0;
    transition: opacity 0.5s linear;
    width:100%;
    z-index:-1;
  }
  &:hover {
    &:after {
      opacity:1;
    }
  }
}
.about-cafe {
  border-top: 6px solid @brand-primary;
  @media (min-width: @screen-lg-min) {
    background: url(../images/bg-2-2.jpg) no-repeat center top;
    background-size: cover;
  }
  img {
    .img-responsive;
  }
}
.about-cafe-content {
  background: #faf4e4;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,.1);
  @media (min-width: @screen-lg-min) {
    background: transparent;
    box-shadow: none;
    padding-top: 255px;
  }
  ol {
    counter-reset: item;
    .list-unstyled;
    li {
      color: #1d1d1b;
      line-height: 1.2;
      position: relative;
      height: 38px;
      padding-left: 40px;
      margin-bottom: 20px;
      &:before {
        color: #f3bc95;
        content: counter(item, decimal) " ";
        counter-increment: item;
        font-family: @font-family-philosolher;
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        top: -11px;
        left: 0;
      }
      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
        @media (min-width: @screen-sm-min) {
          height: 58px;
        }
      }
    }
  }
}
.about-cafe-content-wrapper {
  padding: 40px 0;
  @media (min-width: @screen-lg-min) {
    background: #faf4e4;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,.1);
    margin: 0 -25px;
    padding: 60px 220px 60px 90px;
    position: relative;
    bottom: -100px;
  }
}
.about-cafe-title {
  font-family: @font-family-philosolher;
  font-size: 30px;
  margin-bottom: 20px;
  @media (min-width: @screen-md-min) {
    font-size: 48px;
  }
}
.about-banket {
  padding: 40px 0;
  @media (min-width: @screen-md-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 140px 0 40px;
  }
}
.about-banket-title {
  color: @brand-primary;
  font-family: @font-family-philosolher;
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 20px;
  @media (min-width: @screen-md-min) {
    font-size: 48px;
  }
}
.about-banket-subtitle {
  color: @text-color-light;
  font-family: @font-family-philosolher;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 35px;
}
.about-banket-list {
  max-width: 320px;
  margin: 0 auto 10px;
  @media (min-width: @screen-sm-min) {
    max-width: 710px;
  }
  @media (min-width: @screen-md-min) {
    max-width: 860px;
  }
}
.about-banket-item {
  color: @text-color-dark;
  line-height: 1.2;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 30px;
  @media (min-width: @screen-md-min) {
    font-size: 18px;
  }
  &:nth-of-type(1) {
    background: url(../images/icon-b-1.png) no-repeat center top;
  }
  &:nth-of-type(2) {
    background: url(../images/icon-b-2.png) no-repeat center top;
  }
  &:nth-of-type(3) {
    background: url(../images/icon-b-3.png) no-repeat center top;
  }
  &:nth-of-type(4) {
    background: url(../images/icon-b-4.png) no-repeat center top;
  }
}
.about-banket-more {
  text-align: center;
  .btn {
    padding: @padding-base-vertical*1.2 @padding-base-horizontal*2.5;
  }
}/*Main page content*/
/*end Main page*/
                                                           /*dinners page*/
.dinners-header {
  .header-promo-title {
    max-width: 400px;
    @media (min-width: @screen-md-min) {
      max-width: 700px;
    }
  }
  .header-promo-list {
    @media (min-width: @screen-md-min) {
      max-width: 440px;
    }
  }
}
.calc {
  padding: 40px 0 0;
  @media (min-width: @screen-md-min) {
    padding: 60px 0 60px;
  }
}
.calc-title {
  .section-title;
  margin-bottom: 15px;
}
.calc-text {
  margin-bottom: 25px;
}
.calc-list {
  max-width: 840px;
  ul {
    .list-unstyled;
    cursor: default;
    overflow: hidden;
    text-align: justify;
    width: 100%;
    &:after {
      content: "1";
      display: inline-block;
      height: 1px;
      margin-left: 100%;
      overflow: hidden;
    }
    li {
      display: inline;
      @media (min-width: @screen-sm-min) {
        margin-bottom: 10px;
      }
      > span {
        display: inline-block;
        border: 1px solid transparent;
        cursor: pointer;
        a {
          .no-border-link;
          i {
            color: @text-color;
            font-size: 32px;
            vertical-align: -12px;
          }
        }
        .calc-item-link {
          display: none;
          color: @text-color;
          border-bottom: 1px dashed;
          @media (min-width: @screen-sm-min) {
            margin-left: 10px;
          }
        }
        @media (min-width: @screen-sm-min) {
          padding: 3px 5px 0;
          .calc-item-link {
            display: inline;
          }
        }
        @media (min-width: @screen-md-min) {
          padding: 8px 15px 0;
        }
        &:hover, &:focus {

        }
      }
    }
  }
}


.calc-list ul li.active > span {
  i {
    color: @brand-primary;
    .a-transition;
  }
  @media (min-width: @screen-sm-min) {
    border: 1px dashed @brand-primary;
    .calc-item-link {
      color: @brand-primary;
      border: none;
    }
  }
}
.calc-list ul li > span:hover,
.calc-list ul li > span:focus {

}
.order {
  float: right;
}
.order-container {
  background: linear-gradient(to bottom, #efe5ca, #fff);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 15px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  @media (min-width: @screen-sm-min) {
    margin: 0;
    padding: 20px;
    position: static;
    margin: 0 -15px;
    padding: 20px 15px;
  }
  @media (min-width: @screen-md-min) {
    padding: 20px 30px;
  }
  .order-collapse {
    @media (max-width: @screen-sm-max){
      position: absolute;
      overflow: scroll;
      height: 100%;
      min-height: 600px;
      background-color:#fff;
      margin-top:15px;
    }

  }
}
.order-sum {
  color: @text-color-dark;
  font-size: 14px;
  font-weight: 700;
  margin-top: 3px;
  @media (min-width: @screen-sm-min) {
    font-size: 24px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 28px;
  }
  span {
    white-space: nowrap;
  }
}
.order-collapse-link {
  text-align: right;
  > span {
    color: @brand-primary;
    background: url(../images/arrow.png) no-repeat right 11px;
    padding-right: 15px;
    cursor: pointer;
    > span {
      font-size: 12px;
      border-bottom: 1px dashed @brand-primary;
    }
  }
}
.dish-item {
  padding: 20px 0;
  border-bottom: 1px solid #dfdfdf;
  @media (min-width: @screen-sm-min) {
    &:nth-child(1) {
      border-top: 1px solid #dfdfdf;
    }
  }
}
.dish-name {
  color: @text-color-dark;
}
.dish-note {
  color: @text-color-light;
  font-size: 14px;
  font-style: italic;
}
.dish-weight {
  padding: 23px 0 0;
  @media (min-width: @screen-lg-min) {
    padding: 0;
  }
}
.dish-order {
  padding: 15px 0 0;
  @media (min-width: @screen-lg-min) {
    padding: 0;
  }
}
.dish-weight {
  color: @text-color-dark;
  font-size: 14px;
  font-style: italic;
}
.dish-order {
  text-align: right;
}
.dish-order-btn-container {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.btn-controls {
  color: @text-color-dark;
  background: #fff;
  border-color: @table-border-color;
  padding: 6px 8px;
}
.dish-order-number {
  color: @text-color-dark;
  font-size: 14px;
  width: 38px;
  padding: 6px 8px;
  text-align: center;
  border-color:@table-border-color;
  border-left: none;
  border-right: none;
  box-shadow: none;
  &:focus {
    border-color: @table-border-color;
    box-shadow: none;
  }
}
.add-dish-btn {
  color: @text-color-dark;
  font-size: 14px;
  background: @table-border-color;
  border-color: @table-border-color;
}
.btn-controls, .dish-order-number, .add-dish-btn {
  float: left;
  position: relative;
  height: 37px;
}
.order-pos-name {
  color: @text-color-dark;
  font-size: 14px;
  float: left;
  position: relative;
  margin-top: 6px;
  padding-right: 5px;
}
.delete-dish-btn {
  background: #9a9a9c;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 0;
  line-height: 14px;
  margin-top: 8px;
  margin-left: 5px;
  span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    vertical-align: 3px;
  }
  &:hover, &:focus {
    color: #fff;
  }
}
.order-collapse {
  .dish-order {
    text-align: left;
    padding-bottom: 30px;
  }
}
.dish-order-btn-wrapper {
  text-align: right;
}
.dish-order-pos {
  margin-bottom: 8px;
}
.order-total {
  background: #fff;
  margin: 0 -15px;
  padding: 20px 15px 30px;
  dl {
    color: @text-color-light;
    font-size: 14px;
    dt {
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 50%;
      font-weight: 400;
      margin-bottom: 5px;
      &.order-total-sum {
        color: @text-color-dark;
        font-weight: 700;
        margin-top: 10px;
      }
    }
    dd {
      text-align: right;
      margin-left: 50%;
      margin-bottom: 5px;
      &.order-total-sum {
        color: @text-color-dark;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
  .btn {
    width: 100%;
    max-width: 286px;
    padding: 14px 12px;
  }
}
.order-total-btn {
  text-align: center;
}
.about-dinners {
  .section-padding;
}
.about-dinners-title {
  .section-title;
  margin-bottom: 30px;
}
.about-dinners-list {
  margin-bottom: 20px;
  > div:nth-of-type(1) .about-dinners-item {
    background: url(../images/clock.png) no-repeat;
  }
  > div:nth-of-type(2) .about-dinners-item {
    background: url(../images/price.png) no-repeat;
  }
  > div:nth-of-type(3) .about-dinners-item {
    background: url(../images/note.png) no-repeat;
  }
  > div:nth-of-type(1), > div:nth-of-type(2), > div:nth-of-type(3) {
    background-position: left top;
  }
}
.about-dinners-item {
  color: @text-color-dark;
  padding-left: 60px;
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    padding-left: 0;
    padding-top: 60px;
    margin-bottom: 0;
  }
  @media (min-width: @screen-md-min) {
    padding-left: 60px;
    padding-top: 0;
  }
}
.about-dinners-item-title {
  font-weight: 700;
}
.about-dinners-quote {
  color: @brand-primary;
  font-family: @font-family-philosolher;
  font-size: 18px;
  line-height: 1.2;
  max-width: 940px;
  @media (min-width: @screen-sm-min) {
    font-size: 22px;
  }
}
.about-dinners-work {
  padding: 0 0 40px;
  @media (min-width: @screen-sm-min) {
    padding: 0;
    margin-bottom: -124px;
  }
  @media (min-width: @screen-md-min) {
    margin-bottom: -96px;
  }
  @media (min-width: @screen-lg-min) {
    margin-bottom: -66px;
  }
  img {
    .img-responsive;
  }
}
.about-dinners-work-title {
  .section-title;
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    max-width: 40%;
  }
  @media (min-width: @screen-md-min) {
    max-width: 25%;
  }
  @media (min-width: @screen-lg-min) {
    max-width: 40%;
  }
}
.about-dinners-work-content-wrapper {
  @media (min-width: @screen-sm-min) {
    background: url(../images/dinner.jpg) no-repeat right top;
    background-size: 58% auto;
    margin-top: -90px;
    padding-top: 90px;
  }
  @media (min-width: @screen-md-min) {
    background-size: 65% auto;
    margin-top: -174px;
    padding-top: 174px;
  }
  @media (min-width: @screen-lg-min) {
    background-size: 50% auto;
    margin-top: -120px;
    padding-top: 120px;
  }
  ul {
    background: #fff;
    padding-top: 20px;
    .content-ul;
    @media (min-width: @screen-sm-min) {
      width: 58%;
      box-shadow: 0 2px 5px 2px rgba(0,0,0,.1);
      padding: 20px 30px;
      position: relative;
      z-index: 1000;
    }
    @media (min-width: @screen-md-min) {
      width: 54%;
      padding: 40px 60px 40px 40px;
    }
    @media (min-width: @screen-lg-min) {
      width: 48%;
      margin-top: 20px;
      margin-left: 100px;
    }
    span {
      font-weight: 700;
    }
  }
}
.about-dinners-work-img {
  float: right;
}
.partners {
  background: #faf4e4;
  padding: 40px 0;
  position: relative;
  z-index: 900;
  img {
    .img-responsive;
    margin-right: 25px;
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      float: left;
    }
  }
  @media (min-width: @screen-sm-min) {
    padding: 190px 0 40px;
  }
  @media (min-width: @screen-md-min) {
    padding: 162px 0 40px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 132px 0 40px;
  }
}
.partners-title {
  .section-title;
  margin-bottom: 30px;
}
.faq {
  .section-padding;
}
.faq-title {
  .section-title;
  margin-bottom: 20px;
}
.faq-list {
  max-width: 820px;
  margin-bottom: 25px;
}
.question {
  background: url(../images/arrow.png) no-repeat left 10px;
  padding-left: 25px;
  margin-bottom: 15px;
  span {
    color: @brand-primary;
    font-size: 18px;
    border-bottom: 1px dashed @link-border-hover-color;
    cursor: pointer;
  }
}
.answer {
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    padding-left: 25px;
  }
}
.question.question-open {
  background: url(../images/arrow-1.png) no-repeat left 10px;
}
.question-btn {
  padding: 15px 25px;
}
.question-form {
  max-width: 600px;
  form {
    .btn {
      padding: 15px 25px;
    }
  }
}/*end dinners page*/
                                                      /*Delivery-1 page*/
.inner-page {
  padding: 0 0 40px;
  @media (min-width: @screen-md-min) {
    padding: 0 0 60px;
  }
}
.delivery-header {
  .header-promo-list {
    @media (min-width: @screen-md-min) {
      max-width: 460px;
    }
  }
}
.menu.delivery-menu {
  background: #faf4e4;
  .menu-item-grey {
    a {
      color: @text-color;
      .menu-icon-bg {
        background: #faf4e4;
        border: 1px solid darken(#faf4e4, 10%);
        i {
          color: @brand-primary;
        }
      }
      &:hover, &:focus {
        .menu-icon-bg {
          i {
            //color: #fff;
          }
        }
      }
      &.scale {
        .menu-icon-bg {
          &:after {
            background: @brand-primary none repeat scroll 0 0;
          }
        }
        &:hover, &:focus {
          .menu-icon-bg {
            i {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .business-lunch {
    a {
      .menu-icon-bg {
        i {
          color: @text-color;
        }
      }
    }
  }
}
.delivery-nav {
  .menu-item-grey {
    a {
      &.scale {
        .menu-icon-bg {
          &:after {
            background: @brand-primary none repeat scroll 0 0;
          }
        }
      }
    }
  }
}
.text-block {
  .section-padding;
}
.text-block-title {
  color: @text-color-dark;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}
.text-block-content {
  max-width: 800px;
}/*end Delivery-1 page*/
                                                      /*Delivery-2 page*/
header.inner-header {
  background: #281906 url(../images/bg-1.jpg) no-repeat center top;
  padding-bottom: 0;
  .header-top {
    padding: 25px 0 15px;
  }
}
.delivery {
  padding-top: 20px;
  @media (min-width: @screen-md-min) {
    padding-top: 40px;
  }
}
.delivery-nav {
  float: right;
  padding: 0;
  margin-bottom: 30px;
  .navbar {
    background: #faf4e4;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    background: transparent;
  }
  .navbar-collapse {
    padding-top: 20px;
  }
  .menu-item-grey {
    a {
      .menu-icon-bg {
        background: @light-orange;
        border: 1px solid darken(@light-orange, 10%);
      }
      &:hover, &:focus {
        .menu-icon-bg {
          i {
            color: #fff;
          }
        }
      }
    }
  }
  .calc-list {
    ul {
      li {
        display: block;
        margin-bottom: 3px;
        > span {
          //width: 165px;
        }
        &.active {
          a:hover, a:focus {
            color: @brand-primary;
          }
        }
      }
    }
  }
  .calc-img {
    display: block;
    width: 40px;
    float: left;
    text-align: center;
  }
}
.navbar {
  padding-top: 6px;
}
.navbar-toggle {
  display: block;
  width: 164px;
  float: none;
  margin: 0 auto;
}
.menu-text-link {
  font-family: @font-family-philosolher;
  left: 100%;
  margin-left: -125px;
  position: absolute;
  top: 4px;
  width: 115px;
}
.delivery-list-text {
  margin-bottom: 30px;
}
.delivery-list {
  ul {
    .list-unstyled;
    li {
      @media (min-width: @screen-sm-min) {
        padding: 0 7px;
      }
    }
  }
}
.delivery-item {
  padding: 15px 15px 94px;
  border: 2px solid @light-orange;
  height: 394px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}
.delivery-item-img {
  margin-bottom: 10px;
  img {
    .img-responsive;
  }
}
.delivery-item-name {
  height: 94px;
  overflow: hidden;
  margin-bottom: 10px;
  a {
    .no-border-link;
    span {
      display: block;
      &.delivery-item-main-name {
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 8px;
      }
      &.delivery-item-detail-name {
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }
}
.delivery-item-weight {
  font-size: 14px;
  font-style: italic;
}
.delivery-item-order {
  background: linear-gradient(to top, #f3e8d6, #f9f4e0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 15px;
  .btn-controls {
    padding: 6px 4px;
  }
  .dish-order-btn-wrapper {
    padding-left: 0;
  }
  &.order-complete {
    background: #fff;
  }
}
.order-complete-text {
  font-size: 14px;
}
.delivery-item-price {
  color: @text-color-dark;
  font-size: 20px;
  font-weight: 700;
  padding-top: 5px;
  padding-right: 0;
}
.to-card-btn {
  padding: 7px 8px;
  margin-left: 10px;
  @media (min-width: @screen-sm-min) {
    margin-left: 0;
  }
}/*end Delivery-2 page*/
                                                     /*Delivery-3 page*/
.breadcrumb {
  margin-bottom: 30px;
  li {
    color: @text-color-light;
    a {
      color: @text-color-light;
      border-bottom-color: lighten(@text-color-light, 40%);
    }
  }
}
.delivery-item-inner {
  padding: 15px;
  border: 2px solid @light-orange;
  margin-bottom: 30px;
  .delivery-item-img {
    float: right;
  }
  .delivery-item-name {
    height: auto;
    margin-bottom: 25px;
    a {
      span {
        color: @text-color;
        font-family: @font-family-philosolher;
        &.delivery-item-main-name {
          font-size: 28px;
          font-weight: 400;
          line-height: 1.0;
        }
        &.delivery-item-detail-name {
          color: @text-color-dark;
          font-size: 16px;
        }
      }
    }
  }
  .delivery-item-weight {
    margin-bottom: 50px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 20px;
    }
  }
  .delivery-item-order {
    position: static;
    padding: 0;
    background: #fff;
    @media (min-width: @screen-sm-min) {
    }
    .dish-order-btn-wrapper {
      text-align: left;
      padding-left: 15px;
      @media (min-width: @screen-sm-min) {
        text-align: right;
        padding-left: 0;
      }
    }
    .delivery-item-price {
      font-size: 24px;
      margin-bottom: 15px;
      @media (min-width: @screen-sm-min) {
        padding-top: 0;
      }
    }
    .btn-controls {
      padding: 6px 8px;
    }
    .to-card-btn {
      padding: 7px 15px;
    }
  }
}
.delivery-item-ingredients {
  line-height: 1.3;
  margin-bottom: 10px;
}
.delivery-item-info {
  @media (min-width: @screen-lg-min) {
    padding-right: 100px;
  }
}
.delivery-inner-note {
  background: @light-orange;
  padding: 20px 20px 15px;
  max-width: 330px;
  margin-bottom: 30px;
  @media (min-width: @screen-md-min) {
    max-width: 380px;
  }
  ul {
    .content-ul;
    li {
      font-size: 14px;
      margin-bottom: 5px;
      @media (min-width: @screen-md-min) {
        font-size: 16px;
      }
    }
  }
}
.delivery-inner-about-dish {
  color: @brand-primary;
  font-family: @font-family-philosolher;
  font-size: 18px;
  line-height: 1.2;
  max-width: 720px;
  margin-bottom: 50px;
  @media (min-width: @screen-md-min) {
    font-size: 22px;
  }
}/*end Delivery-3 page*/
                                                      /*Modal*/
.modal-body {
  padding-top: 25px;
  padding-bottom: 5px;
}
.modal-header {
  padding-bottom: 0;
}
.modal-title {
  font-size: 28px;
  line-height: 1.1;
}
.modal-footer {
  padding-top: 0;
  padding-bottom: 30px;
  .btn {
    width: 100%;
    max-width: 200px;
    padding: 12px 25px;
  }
}
.modal-content {
  padding: 20px;
}
.close {
  color: @brand-primary;
  font-size: 72px;
  font-weight: 400;
  opacity: 0.7;
  &:hover, &:focus {
    color: @brand-primary;
  }
}  /*Modal end*/
                                                        /*Catering page*/
.catering-header {
  .header-promo-title {
    max-width: 1000px;
    @media (min-width: @screen-sm-min) {
      margin-top: 30px;
    }
    @media (min-width: @screen-md-min) {
      margin-top: 0;
    }
  }
  .header-promo-descr {
    font-family: @font-family-philosolher;
    margin-bottom: 30px;
    width:100%;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 22px;
    }
  }
}
.header-promo-catering-item {
  padding-right: 0;
  margin-bottom: 10px;
  line-height: 1.2;
  @media (min-width: @screen-sm-min) {
    padding-left: 0;
  }
  i {
    color: @brand-primary;
    font-size: 18px;
    margin-left: -15px;
    margin-right: 10px;
    float: left;
    @media (min-width: @screen-sm-min) {
      font-size: 22px;
      float: none;
      margin: 0;
    }
    @media (min-width: @screen-md-min) {
      font-size: 32px;
    }
  }
  span {
    font-weight: 700;
    @media (min-width: @screen-sm-min) {
      display: block;
    }
    @media (min-width: @screen-md-min) {
      font-size: 20px;
    }
  }
}
.for-catering {
  .section-padding;
}
.for-catering-title {
  .section-title;
  color: @text-color-dark;
  margin-bottom: 30px;
  @media (min-width: @screen-md-min) {
    margin-bottom: 60px;
  }
}
.circle-img {
  margin: 0 auto 10px;
  @media (min-width: @screen-sm-min) {
    margin: 0 0 10px;
  }
  img {
    .img-responsive;
    border-radius: 50%;
    margin: 0 auto;
  }
}
.for-catering-list {
  max-width: 1200px;
  figure {
    margin-bottom: 30px;
  }
  figcaption {
    color: @text-color-dark;
    font-size: 18px;
    text-align: center;
    @media (min-width: @screen-sm-min) {
      width: 80%;
    }
  }
  .col-sm-4 {
    @media (min-width: @screen-sm-min) {
      width: 20%;
    }
  }
  .circle-img {
    width: 80%;
  }
}
.format {
  background: #f8f4e3;
  .section-padding;
}
.format-title {
  .section-title;
  color: @text-color-dark;
  margin-bottom: 15px;
}
.format-text {
  margin-bottom: 20px;
  max-width: 680px;
  @media (min-width: @screen-md-min) {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.format-list {
  margin-bottom: 30px;
  max-width: 600px;
  figcaption {
    font-family: @font-family-philosolher;
    text-align: center;
    @media (min-width: @screen-sm-min) {
      font-size: 18px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 22px;
    }
  }
  .circle-img {
    img {
      border: 1px solid darken(@light-orange, 20%);
      padding: 3px;
    }
  }
}
.format-contact-block {
  background: #fff;
  margin: 0 -15px -40px;
  padding: 30px 30px 40px;
  box-shadow: 0 0 5px 3px rgba(1,1,1,0.1);
  @media (min-width: @screen-sm-min) {
    margin: 0;
  }
  @media (min-width: @screen-md-min) {
    margin: 80px 0 0;
    max-width: 370px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 40px 40px 50px;
  }
  .btn {
    width: 100%;
    max-width: 280px;
    padding: 15px;@media (max-width: @screen-xs-max) {
    &:after {
      background: linear-gradient(to bottom, rgba(40,25,6,1) 73%,  rgba(255,255,0,0) 100%);
    }
  }
  }
}
.format-contact-text {
  color: @text-color-dark;
  margin-bottom: 5px;
  @media (min-width: @screen-md-min) {
    font-size: 18px;
  }
}
.format-contact-tel {
  margin-bottom: 15px;
  a {
    color: @text-color-dark;
    font-family: @font-family-philosolher;
    font-size: 32px;
    .no-border-link;
    @media (min-width: @screen-lg-min) {
      font-size: 38px;
    }
  }
}
.events {
  .section-padding;
  padding-bottom: 0;
  @media (min-width: @screen-md-min) {
    padding-bottom: 0;
  }
}
.events-title {
  .section-title;
  margin-bottom: 30px;
}
.events-slider {
  .carousel {
    //padding-bottom: 20px;
  }
  .carousel-inner {
    width: 85%;
    margin: 0 auto;
    @media (min-width: @screen-md-min) {
      width: 100%;
    }
  }
  .carousel-control {
    position: absolute;
    top: 10px;
    bottom: auto;
    width: 14px;
    height: 28px;
    @media (min-width: @screen-md-min) {
      top: auto;
      bottom: 0;
      width: 34px;
      height: 67px;
    }
  }
  .carousel-control.left {
    left: -5px;
    margin-left: 0;
    @media (min-width: @screen-md-min) {
      left: 0;
      margin: 0;
    }
  }
  .carousel-control.right {
    right: -5px;
    margin-right: 0;
    @media (min-width: @screen-md-min) {
      left: 190px;
      right: auto;
      margin: 0;
    }
    @media (min-width: @screen-lg-min) {
      left: 240px;
    }
  }
  .item {
    img {
      .img-responsive;
    }
  }
}
.events-gallery-title {
  margin-bottom: 5px;
  a {
    color: @text-color-dark;
    font-size: 18px;
    font-weight: 700;
    border-color: lighten(@text-color-dark, 70%);
    @media (min-width: @screen-md-min) {
      font-size: 24px;
    }
  }
}
.gallery-foto-number {
  color: @text-color-dark;
  margin-bottom: 15px;
}/*Catering page end*/
                                                               /*Cafe page*/
.cafe-header {
  .header-promo-title {
    @media (min-width: @screen-md-min) {
      margin-bottom: 35px;
    }
  }
  .header-promo-item {
    span {
      @media (min-width: @screen-md-min) {
        font-size: 16px;
      }
    }
  }
}
.cafe {
  h2 {
    font-family: @font-family-philosolher;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    @media (min-width: @screen-md-min) {
      font-size: 48px;
    }
  }
}
.cafe-icon {
  i {
    font-size: 48px;
  }
  > span {
    font-family: @font-family-philosolher;
    line-height: 1.1;
    display: block;
  }
}
.cafe-section-1 {
  margin-bottom: 30px;
  .cafe-icon {
    margin-top: 20px;
    i {
      float: left;
    }
    > span {
      color: @brand-primary;
      margin: 3px 0 0 63px;
      > span {
        font-size: 28px;
      }
    }
  }
}
.cafe-img {
  img {
    .img-responsive;
    margin-bottom: 15px;
  }
}
.cafe-section-2 {
  margin-bottom: 40px;
}
.cafe-section-3 {
  .cafe-img {
    position: relative;
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
    }
    p {
      @media (min-width: @screen-sm-min) {
        position: absolute;
        top: 0;
        left: 0;
        width: 55%;
        font-size: 13px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 16px;
      }
      @media (min-width: @screen-lg-min) {
        width: 45%;
      }
    }
  }
}
.cafe-section-4 {
  margin-bottom: 40px;
  .cafe-icon {
    margin-bottom: 30px;
    i {
      color: @brand-primary;
    }
    > span {
      font-size: 20px;
      margin-top: -10px;
    }
  }
}
.cafe-list {
  background: #faf4e4;
  margin: 0 -15px;
  padding: 5px 15px 20px;
  box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.1);
  @media (min-width: @screen-lg-min) {
    width: 1140px;
    padding: 50px 60px;
    margin: 0 auto;
  }
}
.cafe-item {
  margin-bottom: 22px;
  h3 {
    margin: 10px 0 15px;
  }
}
.cafe-order {
  text-align: center;
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 60px;
  }
  @media (min-width: @screen-lg-min) {
    text-align: left;
  }
  p {
    color: @brand-primary;
    font-family: @font-family-philosolher;
    font-size: 20px;
    margin-bottom: 20px;
    @media (min-width: @screen-lg-min) {
      font-size: 26px;
    }
  }
  .tel {
    margin-bottom: 20px;
    p {
      color: @text-color-dark;
      font-size: 16px;
      font-family: @font-family-base;
      margin-bottom: 0;
      @media (min-width: @screen-lg-min) {
        font-size: 18px;
      }
      a {
        color: @text-color-dark;
        font-size: 30px;
        font-family: @font-family-philosolher;
        @media (min-width: @screen-lg-min) {
          font-size: 40px;
        }
      }
    }
  }
  .cafe-img {
    img {
      margin: 0 auto;
    }
  }
}
.cafe-order-inner {
  background: #fff;
  @media (min-width: @screen-sm-min) {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
    width: 540px;
    padding: 30px 40px;
    margin: -340px auto 0;
  }
  @media (min-width: @screen-md-min) {
    width: 800px;
    padding: 50px 180px;
    margin: -440px auto 0;
  }
  @media (min-width: @screen-lg-min) {
    width: 1140px;
    padding: 50px 60px;
    margin: 0 auto;
    top: 320px;
  }
}
.cafe-bg {
  @media (min-width: @screen-lg-min) {
    background: url(../images/cafe-bg-1-new.jpg) no-repeat center bottom;
    background-size: auto 90%;
    margin-bottom: 420px;
  }
}/*Cafe page end*/

.text-page {
  .tel {
    a {
      color: @link-color;
      font-size: 34px;
    }
  }
  .adr {
    font-size: 18px;
  }
}
                                                              /*Menu page*/
.menu-header {
  background: #281906 url(../images/cafe-bg.jpg) no-repeat center top;
  padding-bottom: 20px;
  @media (min-width: @screen-md-min) {
    padding-bottom: 40px;
  }
}
.menu-section-link {
  .list-unstyled;
  text-align: justify;
  overflow: hidden;
  cursor: default;
  margin-bottom: 20px;
  &:after {
    content: "1";
    margin-left: 100%;
    height: 1px;
    overflow: hidden;
    display: inline-block;
  }
  li {
    display: inline;
    a {
      display: inline-block;
      border-bottom-style: dashed;
    }
  }
}
.menu-section {
  h2 {
    font-family: @font-family-philosolher;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    @media (min-width: @screen-md-min) {
      font-size: 46px;
      margin-bottom: 40px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      background: #c7c7c7;
      height: 1px;
      z-index: 500;
    }
    span {
      background: #fff;
      padding: 0 10px;
      position: relative;
      z-index: 501;
    }
  }
  table {
    width: 100%;
    border: none;
    tr {
      td {
        vertical-align: top;
        line-height: 1.2;
        padding: 3px 0;
        border-left: none;
        border-right: none;
      }
      &:hover {
        td {
          background: none;
        }
      }
      &:nth-of-type(odd) {
        td {
          border-top: none;
          border-bottom: 2px solid #f7f5e8;
          &.col-3 {
            vertical-align: bottom;
            @media (min-width: @screen-sm-min) {
              vertical-align: top;
            }
          }
        }
      }
      &:nth-of-type(even) {
        td {
          border-bottom: none;
          padding-bottom: 20px;
          @media (min-width: @screen-sm-min) {
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}
.col-0 {
  width: 10%;
  @media (min-width: @screen-sm-min) {
    width: 10%;
    padding-right: 6%!important;
  }
}
.col-1 {
  width: 55%;
  @media (min-width: @screen-sm-min) {
    width: 66%;
    padding-right: 6%!important;
  }
}
.col-2 {
  @media (max-width: @screen-xs-max) {
    display: none!important;
  }
  @media (min-width: @screen-sm-min) {
    width: 12%;
  }
}
.col-3 {
  width: 35%;
  text-align: right;
  @media (min-width: @screen-sm-min) {
    width: 12%;
  }
  .menu-dish-weight {
    @media (min-width: @screen-sm-min) {
      display: none!important;
    }
  }
}
.menu-dish-name {
  color: @text-color-dark;
  font-size: 18px;
  font-weight: 700;
  @media (min-width: @screen-sm-min) {
    font-size: 20px;
  }
}
.menu-dish-weight {
  font-size: 13px;
  @media (min-width: @screen-sm-min) {
    font-size: 16px;
  }
}
.menu-dish-price {
  color: @text-color-dark;
  font-weight: 700;
  @media (min-width: @screen-sm-min) {
    font-size: 18px;
  }
}
.menu-dish-ingr {
  font-size: 13px;
  @media (min-width: @screen-sm-min) {
    font-size: 16px;
  }
}
/*Menu page end*/
                                                     /*Business lunch page*/
.business-lunch-time {
  font-family: @font-family-philosolher;
  font-size: 18px;
  margin-top: -20px;
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 30px;
  }
  @media (min-width: @screen-lg-min) {
    margin-bottom: 40px;
  }
}
.business-lunch-menu {
  background: linear-gradient(to bottom, #f8f6e1, #fff);
  @media (min-width: @screen-sm-min) {
    margin-top: 25px;
  }
  @media (min-width: @screen-lg-min) {
    background: none;
    margin-top: 25px;
  }
}
.business-lunch-leftcol {
  padding: 30px 0;
  @media (min-width: @screen-sm-min) {
    padding: 40px 20px;
  }
  @media (min-width: @screen-lg-min) {
    background: linear-gradient(to bottom, #f8f6e1, #fff);
  }
}
.business-lunch-rigntcol {
  @media (min-width: @screen-lg-min) {
    padding: 40px 20px;
  }
  .business-lunch-menu-item:nth-of-type(2),
  .business-lunch-menu-item:nth-of-type(3),
  .business-lunch-menu-item:nth-of-type(4) {
    .business-lunch-title {
      margin-bottom: 3px;
    }
  }
}
.business-lunch-var {
  @media (min-width: @screen-sm-min) {
    max-width: 198px;
  }
  @media (min-width: @screen-lg-min) {
    max-width: none;
  }
}
.business-lunch-title {
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
  @media (min-width: @screen-lg-min) {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
.business-lunch-price {
  color: @brand-primary;
  font-family: @font-family-philosolher;
  font-size: 22px;
  margin-bottom: 15px;
  @media (min-width: @screen-lg-min) {
    font-size: 28px;
  }
}
.business-lunch-menu-item {
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    max-width: 325px;
    margin-bottom: 45px;
  }
  i {
    font-size: 40px;
  }
  p {
    font-size: 14px;
    line-height: 1.1;
    @media (min-width: @screen-lg-min) {
      //font-size: 16px;
    }
  }
  ul {
    .list-unstyled;
    li {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 8px;
      @media (min-width: @screen-lg-min) {
        font-size: 16px;
        margin-bottom: 12px;
      }
      i {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 5px;
      }
      span {
        font-style: italic;
      }
    }
  }
  img {
    .img-responsive;
    margin-bottom: 10px;
  }
}
.business-lunch-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.any-item {
  .business-lunch-menu-item {
    @media (min-width: @screen-sm-min) {
      margin-top: 55px;
    }
  }
}
/*Business lunch page end*/

.row_cart {
  padding: 20px 0;
  border-bottom: 1px #737373 dashed;
}

.summary {
  font-size: 24px;
  margin-top:20px;
}

.order-right-block {
  @media (min-width: @screen-lg-min) {
    padding: 50px;
  }
}

.order-phone {
  a {
    font-size: 24px;
    text-decoration: none;
  }
}
.ng-isolate-scope {
  .header-promo-list {
    margin: 30px 0 20px;
  }
}
.cart-calc {
  padding-top: 8px;
  font-size: 13px;
  @media (min-width: @screen-sm-min) {
    font-size: 14px;
  }
}
.all-foto-link {
  margin-top: -30px;
}
.gallery-anons {
  margin-bottom: 50px;
}
                                                  /*News page*/
.action-list {
  @media (min-width: @screen-md-min) {
    margin-top: 50px;
  }
}
.action-item {
  box-shadow: 1px 1px 8px 8px #f1f1f1;
  padding: 20px;
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    padding: 30px 35px 20px;
  }
  @media (min-width: @screen-md-min) {
    margin-bottom: 45px;
  }
  &:nth-of-type(odd) {
    .action-img {
      @media (min-width: @screen-sm-min) {
        float: right;
      }
    }
  }
}
.action-img {
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    padding-top: 5px;
  }
  img {
    .img-responsive;
    @media (min-width: @screen-lg-min) {
      margin-left: auto;
    }
  }
}
.action-title {
  font-family: @font-family-philosolher;
  font-size: 22px;
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    font-size: 28px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 34px;
  }
}
.action-content {
  margin-bottom: 20px;
}
/*News page end*/
                                                            /*Cakes page*/
header.cakes-header {
  background: #281906 url(../images/bg-cake.jpg) no-repeat center bottom;
  background-size: 100% auto;
  padding-bottom: 10px;
  @media (min-width: @screen-sm-min) {
    background-size: 170% auto;
    padding-bottom: 90px;
  }
  @media (min-width: @screen-lg-min) {
    padding-bottom: 120px;
  }
  @media (min-width: 1920px) {
    background-size: 100% auto;
  }
  .header-promo {
    @media (min-width: @screen-sm-min) {
      margin-top: 40px;
    }
    @media (min-width: @screen-md-min) {
      margin-top: 20px;
    }
  }
  .header-promo-list {
    @media (min-width: @screen-sm-min) {
      margin-top: 40px;
      max-width: 680px;
    }
  }
  .header-promo-item {
    @media (min-width: @screen-sm-min) {
      height: 48px;
      margin-bottom: 30px;
    }
    span {
      font-size: 16px;
      b {
        font-size: 20px;
      }
    }
  }
}
.cakes-about {
  padding: 20px 0;
  @media (min-width: @screen-sm-min) {
    padding: 40px 0;
    max-width: 500px;
    position: relative;
  }
  @media (min-width: @screen-md-min) {
    max-width: 690px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 60px 0;
  }
  h2 {
    @media (min-width: @screen-md-min) {
      margin-top: 50px;
    }
  }
}
.cakes-about-preamble {
  font-weight: 700;
  @media (min-width: @screen-lg-min) {
    font-size: 18px;
  }
}
.just-in-time {
  color: @brand-primary;
  font-family: @font-family-philosolher;
  font-size: 20px;
  line-height: 0.9;
  background: url(../images/clock-gray.png) no-repeat;
  padding-left: 60px;
  width: 205px;
  margin: 30px 0;
  @media (min-width: @screen-sm-min) {
    position: absolute;
    top: 250px;
    left: 100%;
    margin-left: 20px;
  }
  @media (min-width: @screen-md-min) {
    top: 265px;
  }
  @media (min-width: @screen-lg-min) {
    top: 290px;
    margin-left: 70px;
  }
}
.cakes-list {
  .delivery-item-name span.delivery-item-main-name {
    color: @text-color-dark;
    font-weight: 700;
    @media (min-width: @screen-lg-min) {
      font-size: 18px;
    }
  }
  .delivery-item-name {
    height: 80px;
    @media (min-width: @screen-sm-min) {
      height: 100px;
    }
    @media (min-width: @screen-lg-min) {
      height: 80px;
    }
  }
}
/*Cakes page end*/
ul.pagination {
  .list-unstyled;
  > li {
    text-indent: 0;
    padding-left: 0;
    &:before {
      content: none;
    }
    &.active {
    }
  }
}

.menu-delivery-section {
  .col-1 {
    width: 55%;
    @media (min-width: @screen-sm-min) {
      width: 56%;
      padding-right: 6%!important;
    }
  }
  .col-2 {
    @media (max-width: @screen-xs-max) {
      display: none!important;
    }
    @media (min-width: @screen-sm-min) {
      width: 12%;
    }
  }
  .col-3 {
    width: 45%;
    text-align: right;
    @media (min-width: @screen-sm-min) {
      width: 22%;
    }
    .menu-dish-weight {
      @media (min-width: @screen-sm-min) {
        display: none!important;
      }
    }
  }
}
.banner {
  img {
    .img-responsive;
  }
}
.delivery-table-list {
  .menu-dish-price {
    vertical-align: 4px;
    @media (min-width: @screen-sm-min) {
      display: inline-block;
      margin-right: 10px;
    }
  }
  .to-card-btn {
    @media (min-width: @screen-sm-min) {
      margin-top: -15px;
      margin-bottom: 5px;
    }
  }
  .menu-delivery-section {
    @media (min-width: @screen-md-min) {
      padding-right: 40px;
    }
    @media (min-width: @screen-lg-min) {
      padding-right: 70px;
    }
  }
}
                                                              /*Cake page*/
.cake-header {
  .header-promo-item {
    @media (min-width: @screen-sm-min) {
      min-height: 24px;
    }
    @media (min-width: @screen-lg-min) {
      min-height: 47px;
      margin-bottom: 25px;
    }
    b.large {
      font-size: 18px;
      @media (min-width: @screen-sm-min) {
        font-size: 20px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 24px;
      }
    }
    > span {
      @media (min-width: @screen-md-min) {
        font-size: 18px;
      }
    }
  }
  .header-promo-title {
    @media (min-width: @screen-lg-min) {
      margin: 15px 0 40px;
    }
  }
}
.cake-header-order {
  margin: 15px 0 25px;
  @media (min-width: @screen-sm-min) {
    margin: 30px 0 0;
  }
  @media (min-width: @screen-lg-min) {
    margin: 0 0 0 -20px;
  }
  p {
    font-weight: 700;
    margin-bottom: 18px;
    max-width: 290px;
    @media (min-width: @screen-md-min) {
      font-size: 18px;
      max-width: 320px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 22px;
    }
  }
  .btn {
    width: 100%;
    max-width: 290px;
    padding: 12px 12px 13px;
    @media (min-width: @screen-sm-min) {
      max-width: 248px;
    }
  }
}
.cake-advantages {
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0;
  }
  .btn {
    display: block;
    width: 250px;
    padding: 12px 12px 13px;
    margin: 0 auto;
  }
}
.cake-advantages-title {
  .section-title;
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 45px;
  }
}
.cake-advantages-item {
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 40px;
  }
  @media (min-width: @screen-lg-min) {
    padding-right: 40px;
    margin-bottom: 45px;
  }
  .cake-advantages-img {
    @media (min-width: @screen-sm-min) {
      float: left;
      width: 90px;
    }
    @media (min-width: @screen-md-min) {
      width: 125px;
    }
    img {
      border: 1px solid #ead18e;
      padding: 4px;
      margin: 0 0 15px;
    }
  }
}
.cake-advantages-subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
  @media (min-width: @screen-sm-min) {
    font-size: 24px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 28px;
  }
}
.cake-advantages-info {
  @media (min-width: @screen-sm-min) {
    margin-left: 105px;
  }
  @media (min-width: @screen-md-min) {
    margin-left: 140px;
  }
  @media (min-width: @screen-lg-min) {
    margin-left: 150px;
    margin-top: 5px;
  }
}
.cake-event {
  background: #f8f4e3;
  padding: 40px 0 25px;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0 40px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 75px 0 50px;
  }
}
.cake-event-title {
  .section-title;
  text-align: center;
  margin-bottom: 15px;
}
.cake-event-text {
  text-align: center;
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 42px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 18px;
    margin-bottom: 55px;
  }
}
.cake-event-list {
  @media (min-width: @screen-sm-min) {
    .clearfix;
  }
  figure {
    margin-bottom: 25px;
    @media (min-width: @screen-sm-min) {
      float: left;
      width: 20%;
    }
    img {
      border: 1px solid #ead18e;
      padding: 5px;
      display: block;
      border-radius: 50%;
      margin: 0 auto 10px;
      @media (min-width: @screen-sm-min) {
        width: 120px;
      }
      @media (min-width: @screen-lg-min) {
        width: auto;
        margin: 0 auto 20px;
      }
    }
    figcaption {
      font-family: @font-family-philosolher;
      font-size: 18px;
      text-align: center;
      line-height: 1.0;
      @media (min-width: @screen-sm-min) {
        font-size: 20px;
      }
      @media (min-width: @screen-lg-min) {
        font-size: 24px;
      }
    }
  }
}
.cake-order {
  padding: 40px 0 10px;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0 30px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0 40px;
  }
  .cake-order-title {
    .section-title;
    margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
  }
  ol {
    .list-unstyled;
    counter-reset: num;
    @media (min-width: @screen-sm-min) {
      .clearfix;
      margin-left: -15px;
    }
    li {
      position: relative;
      padding-top: 50px;
      margin-bottom: 25px;
      @media (min-width: @screen-lg-min) {
        padding-right: 67px;
        line-height: 1.56;
      }
      &:before {
        content: counter(num);
        counter-increment: num;
        color: #fff;
        font-family: @font-family-philosolher;
        font-size: 22px;
        position: absolute;
        top: 0;
        left: 15px;
        width: 35px;
        height: 35px;
        background: @brand-primary;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
      }
      .cake-order-link{
        border-bottom-style: dashed;
      }
      .cake-order-tel {
        color: @text-color;
        font-weight: 700;
        .no-border-link;
      }
    }
  }
}
.cake-gallery {
  padding: 15px 0 0;
}
.cake-gallery-title{
  .section-title;
  margin-bottom: 30px;
}
.cake-gallery-list {
  margin-bottom: 30px;
  @media (min-width: @screen-lg-min) {
    margin-bottom: 55px;
  }
  img {
    .img-responsive;
  }
}
/*Cake page end*/

.text-page {
  .container {
    table {
      .table;
      .table-bordered;
    }
  }
}

.header-promo-line {
  text-align:center;
  padding:15px;
  background-color: #206D2B;
  color:#fff;
  font-size:16px;
  a {
    color:#fff;
    font-weight: bold;
  }
  .icon {
    font-size:22px;
    position: relative;
    top:5px;
  }
}

.catering-inner {
  .breadcrumb {
    margin-bottom:10px;
  }
}

.format-contact-text-margin {
  margin-top:25px;
}

.format-contact-text {
  h2 {
    margin-top:0;
  }
}

.gallery-tail-title {
  margin-top:15px;
  height:50px;
  overflow: hidden;
  a {
    color:@text-color;
    text-decoration: none;
    border:none;
    font-size: 18px;
    font-weight: bold;
  }
}

.gallery-tail-item {
  margin-bottom: 25px;
}

.reviews-tail {
  margin-bottom:25px;
}

.social {
  background: url(../images/social_sprite_small.png) no-repeat;
  padding:10px 20px;
  display: inline !important;
  width:auto !important;
}

.social-vk{
  background-position: -5px -100px;
}

.social-inst{
  background-position: -105px -5px;
}

.social-block {
  margin-top: 30px;
}

.vcard {
  .social-block {
    margin-bottom:30px;
    a {
      border-bottom: none;
    }
  }
}
.cakes-list {
  .delivery-item {
    height:270px;
  }
}

.bl-order-line {
  margin-bottom:25px;
  border-bottom: 1px solid #c0c0c0;
  padding: 5px 0 5px 0;
}
.order-line-title {
  margin-bottom:15px;
}

.delivery-menu-inner {
  .menu-list {
    .list-unstyled;
    li {
      .list-unstyled;
    }
    li::before {
      display: none;
    }
  }
  .menu-item-grey {
    a {
      color: @text-color;
      .menu-icon-bg {
        background: #faf4e4;
        border: 1px solid darken(#faf4e4, 10%);
        i {
          color: @brand-primary;
          margin-left:-10px;

        }
      }
      &:hover, &:focus {
        .menu-icon-bg {
          i {
            //color: #fff;
          }
        }
      }
      &.scale {
        .menu-icon-bg {
          &:after {
            background: @brand-primary none repeat scroll 0 0;
          }
        }
        &:hover, &:focus {
          .menu-icon-bg {
            i {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.header-promo-sale {
  text-align: center;
  padding:10px;
  background-color: #cc0000;
  #header-carousel {
    .carousel-cell {
      a {
        font-size:24px;
        color:#fff;
        border-bottom-color: #fff;
      }
      width: 100%;
      .header-sale-image {
        margin-right: 15px;
      }
      @media (max-width: @screen-xs-max)  {
        a {
          font-size:18px;
        }
      }
    }
    padding:0 60px;
  }
}

.menu-delivery-section {
  .product-magnit-line {
    .product-items-magnit {
      .col-title {
        h3 {
          margin:0 0 10px 0;
          @media (max-width: @screen-xs-max){
            font-size: 16px;
          }
        }
      }
      margin-bottom: 30px;
    }

  }
}

.magnit-order-page {
  .calc-title {
    margin-top: 60px;
  }
  .calc-list {
    ul {
      li {
        .calc-item-link {
          display: block;
        }
      }
    }
  }
}

.order-payment-rnd-number {
  font-size:40px;
  font-weight: bold;
  margin:6px  0;
}

.magnit-order-page-result {
  text-align: center;
  h1 {
    text-align: center;
  }
  .order-payment-rnd-number {
    text-align: center;
  }
  h3 {
    margin-bottom: 0;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.payments-icons {
  img {
    .img-responsive;
  }
}

.payment-footer {
  background-color: #f2dede;
  padding:30px 0;
  margin:0;
}

.payment-des {
  font-size: 12px;
}

.payments-links {
  .list-unstyled;
  margin:0;
  padding:0;
  li {
    margin-bottom: 6px;
  }
}

.phone-support {
  .support-label {
    margin-top:10px;
  }
}