@charset "UTF-8";

@font-face {
  font-family: "pechka-icons";
  src:url("../fonts/pechka-icons.eot");
  src:url("../fonts/pechka-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pechka-icons.woff") format("woff"),
    url("../fonts/pechka-icons.ttf") format("truetype"),
    url("../fonts/pechka-icons.svg#pechka-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pechka-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pechka-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alc:before {
  content: "\61";
}
.icon-lunch:before {
  content: "\62";
}
.icon-bread:before {
  content: "\63";
}
.icon-cake:before {
  content: "\64";
}
.icon-dessert:before {
  content: "\65";
}
.icon-drink:before {
  content: "\66";
}
.icon-fish:before {
  content: "\67";
}
.icon-salad:before {
  content: "\68";
}
.icon-side:before {
  content: "\69";
}
.icon-soup:before {
  content: "\6a";
}
